<div class="bg-light">
    <div class="p-0 d-flex justify-content-center align-items-center" id="profile">
        <img src="https://placekitten.com/g/250/250" alt="placeholder">
        <div id="profile-info">
            <h3 class="h3">Jane Doe</h3>
            <p>[zodiac sign icon here] Zodiac name</p>
            <button class="btn btn-primary">Edit Profile</button>
            <i class="fas fa-cog"></i>
        <div id="status" class="d-flex">
            <p>{{0}} posts</p>
            <p>{{0}} followers</p>
            <p>{{0}} following</p>
        </div>
    </div>
    </div>
</div>


<!-- <form name=”zodiac”>
<table bordercolor=”#000000″ rules=”none” cellspacing=”0″ cellpadding=”4″>
	<tr><td><b><i>Month</i></b></td>
	<td><div>
<select name=”month”>
<option value=”x”>Select Birth Month</option>
<option value=”1″>January</option><option value=”2″>February</option><option value=”3″>March</option>
<option value=”4″>April</option><option value=”5″>May</option><option value=”6″>June</option>
<option value=”7″>July</option><option value=”8″>August</option><option value=”9″>September</option>
<option value=”10″>October</option><option value=”11″>November</option>
<option value=”12″>December</option></select>
</div></td>
	<td></td></tr>
	<tr><td><b><i>Day</i></b></td>
	<td><div>
    <input type=”text” name=”date” value=”Day” size=”3″ onClick=value=””></td>
	<td><input type=”button” value=”Calculate” onClick=”signs()”></div></td></tr>
	<tr><td><b><i>Sun Sign:</i></b></td>
	<td</td></tr>

</table>
</form> -->