body{
    background-image: url("https://media.giphy.com/media/3ov9k1173PdfJWRsoE/giphy.gif");
  //  background-image: url("images/galaxy.jpg");
    background-color: black;
    background-size: cover;
    background-position-y: center;
    min-height: 100vh;
}
