$color1: #000761;
$color2: #44008B;
$color3: #9F45B0;
$color4: #E54ED0;
$font1:'Abril Fatface', cursive;
$font2:'Oswald', sans-serif;

#login{
    width: 35%;
    max-width: 750px;
    border: 1px solid;
    border-radius: 6px;
    padding:3em;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 15px 25px rgba(0,0,0, 0.2);
    box-sizing: border-box;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    h1{
        text-align: center;
        color: white;
        font: $font2;
    }
    .text-box{
        margin: 0;
        overflow: hidden;
        padding: 0.5em 0;
        position: relative;
        width: 100%;

        input{
            padding-bottom: 0.5em;
            outline: none;
            border: none;
            background: transparent;
            color: white;
            border-bottom: 2px solid $color2;width: 100%;
            margin: 6px 0;

            &:valid ~ label, &:focus ~ label{
                top: -24px;
                left: 0;
                color: #44008B;
                font-size: 10px;
            }
        }

        label{
            padding-top: 20px;
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            pointer-events: none;
            transition: 0.5s;
        }
    }

    button{
        background-color: $color2;
        border: 2px solid $color2;
        border-radius: 3em;
        color: white;
        padding: 0.5em;
        margin: 1em 0;
        width: 100%;
    }
    p{
        padding-top: 1em;
        margin: 0;
        text-align: center;
        color: white;
    }

}