$color1: #000761;
$color2: #44008B;
$color3: #9F45B0;
$color4: #E54ED0;

#header{ 
    background-color: $color2;
    box-shadow: 0px 1px 5px;
    ul{
        width: 80%;
        margin: auto;
        padding: 0;
        li{
            padding: 0.25em 0;

            &:hover{
                background-color: #34026a;
            }

            a{
                color: whitesmoke;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}


@import '../../../_variables';

.nav-link {
    color: $lavender;
}

.nav-link:hover {
    color: darken($lavender, 15%);
}
