@import '../../../_variables';

#header{ 
    background-color: $color2;
    box-shadow: 0px 1px 15px black;
    ul{
        width: 70%;
        margin: auto;
        padding: 0;

        li{
            padding: 0.25em;

            &:hover{
                background-color: #34026a;
            }

            a{
                color: whitesmoke;
                font-size: 18px;
                font-family: $font1;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}




.nav-link {
    color: $lavender;
}

.nav-link:hover {
    color: darken($lavender, 15%);
}
